body {
  text-align: center;
  color: #222;
  overflow: hidden;
  color:#eee;
  background-color:#222;
  background-image:
    linear-gradient(to right, #333 1px, transparent 1px),
    linear-gradient(to bottom, #333 1px, transparent 1px);
  background-size: 40px 40px;
}

.face {
  font-size: 3em;
  margin: 0;
}

.text {
  font-size: 1em;
  width: 100px;
  margin: 0 auto;
}

#user {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#webcam-container {
  visibility: hidden;
  float: right;
}

#start-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  font-family: monospace;
}
